mainmenu "Renesas RZ Community BSP Configuration"

config KAS_BUILD_SYSTEM
	string
	default "openembedded"

menu "Yocto"
choice
	prompt "Select the Yocto version to use"
	default YOCTO_SCARTHGAP

	config YOCTO_KIRKSTONE
	bool "Yocto Kirkstone"
	help
		Select Yocto Kirkstone

	config KAS_INCLUDE_YOCTO_KIRKSTONE
	string
	depends on YOCTO_KIRKSTONE
	default "kas/yocto/kirkstone.yml"

	config YOCTO_SCARTHGAP
	bool "Yocto Scarthgap"
	help
		Select Yocto Scarthgap

	config KAS_INCLUDE_YOCTO_SCARTHGAP
	string
	depends on YOCTO_SCARTHGAP
	default "kas/yocto/scarthgap.yml"
endchoice
endmenu

config FAMILY_G2H
bool

config FAMILY_G2L
bool

menu "Machine"
choice
	prompt "Select the machine to build for"
	default MACHINE_SMARC-RZG2L

	config MACHINE_HIHOPE-RZG2H
	bool "hihope-rzg2h"
	select FAMILY_G2H
	help
		Select the Renesas RZ/G2H reference platform from HopeRun

	config KAS_INCLUDE_MACHINE_HIHOPE-RZG2H
	string
	depends on MACHINE_HIHOPE-RZG2H
	default "kas/machine/hihope-rzg2h.yml"

	config MACHINE_HIHOPE-RZG2M
	bool "hihope-rzg2m"
	select FAMILY_G2H
	help
		Select the Renesas RZ/G2M reference platform from HopeRun

	config KAS_INCLUDE_MACHINE_HIHOPE-RZG2M
	string
	depends on MACHINE_HIHOPE-RZG2M
	default "kas/machine/hihope-rzg2m.yml"

	config MACHINE_HIHOPE-RZG2N
	bool "hihope-rzg2n"
	select FAMILY_G2H
	help
		Select the Renesas RZ/G2N reference platform from HopeRun

	config KAS_INCLUDE_MACHINE_HIHOPE-RZG2N
	string
	depends on MACHINE_HIHOPE-RZG2N
	default "kas/machine/hihope-rzg2n.yml"

	config MACHINE_EK874
	bool "ek874"
	select FAMILY_G2H
	help
		Select the Renesas RZ/G2E reference platform from SiLinux

	config KAS_INCLUDE_MACHINE_EK874
	string
	depends on MACHINE_EK874
	default "kas/machine/ek874.yml"

	config MACHINE_SMARC-RZG2L
	bool "smarc-rzg2l"
	select FAMILY_G2L
	help
		Select the Renesas RZ/G2L reference platform

	config KAS_INCLUDE_MACHINE_SMARC-RZG2L
	string
	depends on MACHINE_SMARC-RZG2L
	default "kas/machine/smarc-rzg2l.yml"

	config MACHINE_SMARC-RZG2LC
	bool "smarc-rzg2lc"
	select FAMILY_G2L
	help
		Select the Renesas RZ/G2LC reference platform

	config KAS_INCLUDE_MACHINE_SMARC-RZG2LC
	string
	depends on MACHINE_SMARC-RZG2LC
	default "kas/machine/smarc-rzg2lc.yml"

	config MACHINE_SMARC-RZG2UL
	bool "smarc-rzg2ul"
	select FAMILY_G2L
	help
		Select the Renesas RZ/G2UL reference platform

	config KAS_INCLUDE_MACHINE_SMARC-RZG2UL
	string
	depends on MACHINE_SMARC-RZG2UL
	default "kas/machine/smarc-rzg2ul.yml"

endchoice
endmenu

menu "Image"
choice
	prompt "Select the image to build"
	default IMAGE_RENESAS_IMAGE_MINIMAL

	config IMAGE_RENESAS_IMAGE_MINIMAL
	bool "renesas-image-minimal"
	help
		Use a basic image based on core-image

	config KAS_INCLUDE_IMAGE_RENESAS_IMAGE_MINIMAL
	string
	depends on IMAGE_RENESAS_IMAGE_MINIMAL
	default "kas/image/renesas-image-minimal.yml"

	config IMAGE_RENESAS_IMAGE_DEMO
	depends on MACHINE_SMARC-RZG2L || MACHINE_SMARC-RZG2LC
	bool "renesas-image-demo"
	help
		Build a demo image including Weston/Wayland support.
		Currently only supported on smarc-rzg2l and smarc-rzg2lc.

	config KAS_INCLUDE_IMAGE_RENESAS_IMAGE_DEMO
	string
	depends on IMAGE_RENESAS_IMAGE_DEMO
	default "kas/image/renesas-image-demo.yml"
endchoice
endmenu

menu "Linux"
choice
	prompt "Select the Linux kernel version to use"
	default KERNEL_CIP_6.1

	config KERNEL_RENESAS_5.10
	bool "Renesas v5.10"
	help
		Use the Linux kernel from the Renesas BSP based on CIP SLTS v5.10

	config KAS_INCLUDE_KERNEL_RENESAS_5.10
	string
	depends on KERNEL_RENESAS_5.10
	default "kas/kernel/renesas-5.10.yml"

	config KERNEL_CIP_5.10
	bool "CIP SLTS v5.10"
	help
		Use the CIP SLTS Linux kernel v5.10

	config KAS_INCLUDE_KERNEL_CIP_5.10
	string
	depends on KERNEL_CIP_5.10
	default "kas/kernel/cip-5.10.yml"

	config KERNEL_CIP_6.1
	bool "CIP SLTS v6.1"
	help
		Use the CIP SLTS Linux kernel v6.1

	config KAS_INCLUDE_KERNEL_CIP_6.1
	string
	depends on KERNEL_CIP_6.1
	default "kas/kernel/cip-6.1.yml"

	config KERNEL_LTS_6.6
	bool "LTS v6.6"
	help
		Use the latest LTS v6.6 kernel.

		The meta-linux-mainline layer is used to provide the kernel
		recipe.

	config KAS_INCLUDE_KERNEL_LTS_6.6
	string
	depends on KERNEL_LTS_6.6
	default "kas/kernel/lts-6.6.yml"

	config KERNEL_MAINLINE
	bool "Mainline"
	help
		Use the latest mainline kernel - note that this may be a
		pre-release kernel. This option is intended for development and
		testing, not production use.

		The meta-linux-mainline layer is used to provide the mainline
		kernel recipe.

	config KAS_INCLUDE_KERNEL_MAINLINE
	string
	depends on KERNEL_MAINLINE
	default "kas/kernel/mainline.yml"
endchoice
endmenu

menu "Bootloaders"
	menu "U-Boot"
	choice
		prompt "Select the U-Boot version to use"
		default UBOOT_MAINLINE_2024.10 if FAMILY_G2H
		default UBOOT_RENESAS_2021.10

		config UBOOT_RENESAS_2021.10
		bool "Renesas v2021.10"
		help
			Use the U-Boot from the Renesas BSP based on v2021.10

		config KAS_INCLUDE_UBOOT_RENESAS_2021.10
		string
		depends on UBOOT_RENESAS_2021.10
		default "kas/u-boot/renesas-2021.10.yml"

		config UBOOT_MAINLINE_2024.10
		bool "Mainline v2024.10"
		depends on FAMILY_G2H
		help
			Use mainline U-Boot v2024.10

		config KAS_INCLUDE_UBOOT_MAINLINE_2024.10
		string
		depends on UBOOT_MAINLINE_2024.10
		default "kas/u-boot/mainline-2024.10.yml"
	endchoice
	endmenu

	menu "Trusted-Firmware-A"
	choice
		prompt "Select the Trusted-Firmware-A version to use"
		default TFA_MAINLINE_2.10.8 if FAMILY_G2H
		default TFA_RENESAS_2.9.0

		config TFA_RENESAS_2.9.0
		bool "Renesas v2.9.0"
		help
			Use the Trusted-Firmware-A v2.9.0 from the Renesas BSP

		config KAS_INCLUDE_TFA_RENESAS_2.9.0
		string
		depends on TFA_RENESAS_2.9.0
		default "kas/trusted-firmware-a/renesas-2.9.0.yml"

		config TFA_MAINLINE_2.10.8
		bool "Mainline v2.10.8 LTS"
		depends on FAMILY_G2H
		help
			Use mainline Trusted-Firmware-A v2.10.8 LTS

		config KAS_INCLUDE_TFA_MAINLINE_2.10.8
		string
		depends on TFA_MAINLINE_2.10.8
		default "kas/trusted-firmware-a/mainline-2.10.8.yml"
	endchoice
	endmenu
endmenu

menu "SDK"
	config SET_SDKMACHINE
	bool "Set value for SDKMACHINE"
	default n
	help
		Set the machine that the SDK is built to be installed on.
		Available options provided by OpenEmbedded-Core are: aarch64,
		i586, i686, ppc64, ppc64le, and x86_64.

	config SDKMACHINE
	depends on SET_SDKMACHINE
	string "SDKMACHINE"
	default "x86_64"
	help
		Set the machine that the SDK is built to be installed on.
		Available options provided by OpenEmbedded-Core are: aarch64,
		i586, i686, ppc64, ppc64le, and x86_64.
endmenu

menu "Other"
	config OPT_DEBUG
	bool "Debug"
	default y
	help
		Enable the debug-tweaks image feature that enabled features
		helpfull for development (e.g. allows root logins, logins
		without passwords (including root ones), and enables
		post-installation logging).

		Also include a number of packages useful for hardware debugging
		such as can-utils and i2c-tools.

	config KAS_INCLUDE_OPT_DEBUG
	string
	depends on OPT_DEBUG
	default "kas/opt/debug.yml"
endmenu
